<div class="card p-3">
    <div class="h-100 d-flex flex-column @(IsUnavailable ? "opacity-50 grayscale" : "")">
        <h5 class="fw-bold">@RoomType.Name</h5>

        <p class="text-body-secondary">@RoomType.Description</p>

        <ul class="p-0 mb-3 mt-auto fs-7">
            <li class="mb-1 text-body-secondary d-flex">
                <span class="w-100">Pris pr. nat:</span>

                <div class="d-flex text-nowrap text-body fw-bold">
                    @if (RoomDiscount is not null && RoomDiscount.PricePerNight > 0)
                    {
                        <span class="text-danger">@RoomDiscount.PricePerNight.ToString("C")&nbsp;</span>

                        <span class="text-decoration-line-through opacity-50">@RoomType.PricePerNight.ToString("C")</span>
                    }
                    else
                    {
                        <span>@RoomType.PricePerNight.ToString("C")</span>
                    }
                </div>
            </li>

            <li class="text-body-secondary d-flex">
                <span class="w-100">Maks Gæster:</span>

                <span class="text-nowrap text-body fw-bold">@RoomType.MaxOccupancy</span>
            </li>

            @* <li class="text-body-secondary d-flex">
                <span class="w-100">Kæledyr tilladt:</span>

                <span class="text-nowrap text-body fw-bold">Ja/nej</span>
            </li> *@
        </ul>

        @if (IsUnavailable)
        {
            <button class="btn btn-primary" disabled>Ikke tilgængelig</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="() => OnBook.InvokeAsync(RoomType)" data-bs-toggle="modal" data-bs-target="#createBookingModal">Book nu</button>
        }
    </div>
</div>

@code {
    [Parameter]
    public RoomTypeDto RoomType { get; set; }

    [Parameter]
    public RoomDiscountDto? RoomDiscount { get; set; }

    [Parameter]
    public bool IsUnavailable { get; set; } = false;

    [Parameter]
    public EventCallback<RoomTypeDto> OnBook { get; set; }
}
