@rendermode InteractiveServer

@inject ApiClient Api

<div class="overflow-auto w-100 max-w-diagram h-diagram rounded-2">
    <table class="table table-bordered w-100 fs-7 m-0">
        <thead class="position-sticky top-0 z-1">
            <tr>
                <th></th>

                @foreach (var date in Data.Dates)
                {
                    <th class="h-2rem min-w-10rem text-center">@date.ToString("dd/MM/yyyy")</th>
                }
            </tr>
        </thead>

        <tbody class="position-sticky">
            @foreach (var roomType in Data.RoomTypes)
            {
                <tr>
                    <td class="position-relative z-0 bg-primary-subtle border-end-0 p-0 text-center">@roomType.Name</td>
                    <td class="position-relative z-0 bg-primary-subtle border-start-0" colspan="@(Data.Dates.Count)"></td>
                </tr>

                @foreach (var room in Rooms.Where(r => r.RoomType.Id == roomType.Id))
                {
                    <tr>
                        <td class="position-relative z-0 h-2rem min-w-10rem text-center">@room.Number</td>

                        @for (int i = 0; i < Data.Dates.Count; i++)
                        {
                            var date = Data.Dates.ElementAt(i).ToDateOnly();

                            var booking = Data.Bookings.FirstOrDefault(b => (b.Room?.Id ?? b.PossibleRoom?.Id) == room.Id && b.FromDate.ToDateOnly() <= date && b.ToDate.ToDateOnly() >= date);

                            if (booking is not null)
                            {
                                var span = booking.ToDate.ToDateOnly().DayNumber - date.DayNumber;

                                <td colspan="@(span + 1)" class="position-relative z-0 h-2rem min-w-10rem text-center">
                                    <div class="position-absolute d-flex justify-content-center align-items-center rounded-2 border border-dark inset-1 @(booking.Room is null ? "bg-dark-subtle" : "bg-primary text-white")">
                                        @booking.Guest?.FirstName @booking.Guest?.LastName (#@booking.Id)
                                    </div>
                                </td>

                                if (span > 0)
                                {
                                    i += span;
                                }
                            }
                            else
                            {
                                <td class="position-relative z-0 h-2rem min-w-10rem"></td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public BookingOverviewDto Data { get; set; }

    [Parameter]
    public ICollection<RoomDto> Rooms { get; set; }
}
