<div class="card p-3">
    <div class="h-100 d-flex flex-column">
        <h5 class="fw-bold d-flex align-items-center gap-2">
            <span class="rounded-1 bg-dark-subtle px-1">@Booking.Id</span>
            
            @Booking.RoomType.Name
        </h5>

        <p class="text-body-secondary">@Booking.RoomType.Description</p>

        <ul class="p-0 mb-3 mt-auto fs-7">
            <li class="text-body-secondary d-flex mb-1">
                <span class="w-100">Total pris:</span>

                <div class="d-flex text-nowrap text-body fw-bold">
                    @Booking.PriceLocked.ToString("C")
                </div>
            </li>

            <li class="text-body-secondary d-flex mb-1">
                <span class="w-100">Antal Gæster:</span>

                <span class="text-nowrap text-body fw-bold">@(Booking.NumberOfAdults + Booking.NumberOfChildren)</span>
            </li>

            <li class="text-body-secondary d-flex mb-1">
                <span class="w-100">Rejser med kæledyr:</span>

                <span class="text-nowrap text-body fw-bold">@(Booking.TravelingWithPets ? "Ja" : "Nej")</span>
            </li>

            <li class="text-body-secondary d-flex">
                <span class="w-100">Periode:</span>

                <span class="text-nowrap text-body fw-bold">@Booking.FromDate.ToString("dd/MM/yyyy") - @Booking.ToDate.ToString("dd/MM/yyyy")</span>
            </li>
        </ul>

        <button class="btn btn-danger" @onclick="() => OnDelete.InvokeAsync(Booking)" disabled="@(!BookingIsDeletable)" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="bi bi-trash-fill"></i>

            Slet Booking
        </button>
    </div>
</div>

@code {
    [Parameter]
    public BookingWithoutGuestDto Booking { get; set; }

    [Parameter]
    public EventCallback<BookingWithoutGuestDto> OnDelete { get; set; }

    private bool BookingIsDeletable => Booking.FromDate > DateTime.Now && Booking.ToDate > DateTime.Now;
}
