@rendermode InteractiveServer

<div class="overflow-auto max-w-diagram h-diagram rounded-2">
    <table class="table table-bordered w-100 fs-7 m-0">
        <thead>
            <tr class="position-sticky top-0 z-1">
                <th></th>

                @foreach (var d in Dates)
                {
                    <th class="h-2rem min-w-10rem text-center">@d.ToString("dd/MM/yyyy")</th>
                }
            </tr>
        </thead>

        <tbody class="position-sticky">
            @foreach (var roomType in Rooms.Select(r => r.RoomType).DistinctBy(rt => rt.Id))
            {
                if (!Rooms.Any(r => r.RoomType.Id == roomType.Id) || !Bookings.Any(b => b.RoomType.Id == roomType.Id))
                {
                    continue;
                }

                <tr>
                    <td class="position-relative z-0 bg-primary-subtle border-end-0 p-0 text-center">@roomType.Name</td>

                    <td class="position-relative z-0 bg-primary-subtle border-start-0" colspan="@(Dates.Count)"></td>
                </tr>

                @foreach (var room in Rooms.Where(r => r.RoomType.Id == roomType.Id))
                {
                    <tr>
                        <td class="position-relative z-0 h-2rem min-w-10rem text-center">@room.Number</td>

                        @for (int i = 0; i < Dates.Count; i++)
                        {
                            var date = Dates[i];

                            var booking = GetActiveBookingForRoomOnDate(room, date);

                            @if (booking is not null)
                            {
                                var span = booking.ToDate.ToDateOnly().DayNumber - date.DayNumber;

                                <td colspan="@(span + 1)" class="position-relative z-0 h-2rem min-w-10rem text-center">
                                    <div class="position-absolute d-flex justify-content-center align-items-center rounded-2 border border-dark inset-1 @(booking.Room is null ? "bg-dark-subtle" : "bg-primary text-white")">
                                        @booking.Guest.FirstName @booking.Guest.LastName (#@booking.Id)
                                    </div>
                                </td>

                                if (span > 0)
                                {
                                    i += span;
                                }
                            }
                            else
                            {
                                <td class="position-relative z-0 h-2rem min-w-10rem"></td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public ICollection<RoomDto> Rooms { get; set; }

    [Parameter]
    public ICollection<BookingDto> Bookings { get; set; }

    private Dictionary<int, int> BookingsWithNoRoom = new();

    private List<DateOnly> Dates = new();

    protected override void OnInitialized()
    {
        BuildDates();

        AllocateRoomsToUnassignedBookings();

        StateHasChanged();
    }

    private void BuildDates()
    {
        Dates.Clear();

        var min = Bookings.Min(b => b.FromDate.ToDateOnly());
        var max = Bookings.Max(b => b.ToDate.ToDateOnly());

        for (var date = min; date <= max; date = date.AddDays(1))
        {
            Dates.Add(date);
        }
    }

    private void AllocateRoomsToUnassignedBookings()
    {
        foreach (var booking in Bookings.Where(b => b.Room is null).OrderBy(b => b.Id))
        {
            if (BookingsWithNoRoom.ContainsKey(booking.Id))
            {
                continue;
            }

            var candidateRooms = Rooms.Where(r => r.RoomType.Id == booking.RoomType.Id).ToList();

            foreach (var room in candidateRooms)
            {
                bool overlaps = HasOverlappingBookingForRoom(booking, room);

                if (!overlaps)
                {
                    BookingsWithNoRoom[booking.Id] = room.Id;

                    break;
                }
            }
        }
    }

    private BookingDto? GetActiveBookingForRoomOnDate(RoomDto room, DateOnly date)
    {
        return Bookings.FirstOrDefault(b =>
            (b.Room?.Id == room.Id || (b.Room is null && BookingsWithNoRoom.TryGetValue(b.Id, out var rid) && rid == room.Id))
            && b.FromDate.ToDateOnly() <= date && b.ToDate.ToDateOnly() > date
        );
    }

    private bool HasOverlappingBookingForRoom(BookingDto booking, RoomDto room)
    {
        return Bookings.Any(b =>
            (b.Room?.Id == room.Id || (b.Room is null && BookingsWithNoRoom.TryGetValue(b.Id, out var rid) && rid == room.Id))
            && b.Id != booking.Id
            && b.FromDate.ToDateOnly() <= booking.ToDate.ToDateOnly()
            && b.ToDate.ToDateOnly() >= booking.FromDate.ToDateOnly()
        );
    }
}
