@rendermode InteractiveServer

<div>
    <label class="form-label">Værelse</label>

    <InputSelect @bind-Value:get="_roomId" @bind-Value:set="SetRoom" class="form-control">
        <option value="">-- Vælg et værelse --</option>

        @foreach (var room in Rooms.Where(room => !Bookings.Any(booking => booking.Room is not null && booking.Room.Id == room.Id)))
        {
            @if (room.Id.ToString() == _roomId)
            {
                <option value="@room.Id" selected>@room.Number (@room.RoomType.Name)</option>

                continue;
            }

            <option value="@room.Id">@room.Number (@room.RoomType.Name)</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public BookingDto Model { get; set; } = new BookingDto();

    [Parameter]
    public ICollection<RoomDto> Rooms { get; set; } = [];

    [Parameter]
    public ICollection<BookingDto> Bookings { get; set; } = [];

    private string _roomId = string.Empty;

    private void SetRoom(string roomId)
    {
        if (string.IsNullOrEmpty(roomId) || !int.TryParse(roomId, out var parsedRoomId))
        {
            Reset();

            return;
        }

        var room = Rooms.FirstOrDefault(rt => rt.Id == parsedRoomId);

        if (room is null)
        {
            Reset();

            return;
        }

        _roomId = roomId;

        Model.Room = new RoomWithoutBookingsDto()
        {
            Id = room.Id,
            Number = room.Number,
            RoomType = room.RoomType,
            Status = room.Status
        };

        StateHasChanged();
    }

    private void Reset()
    {
        _roomId = string.Empty;

        Model.Room = null;

        StateHasChanged();
    }
}
