@rendermode InteractiveServer

@inject ApiClient Api

@if (roomTypes is not null)
{
    <EditForm Enhance class="d-flex flex-column gap-3" Model="Model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label class="form-label">Værelsesnummer</label>

            <InputText class="form-control" @bind-Value="Model.Number" placeholder="Indtast værelsesnummer" />

            <ValidationMessage For="@(() => Model.Number)" />
        </div>

        <div>
            <label class="form-label">Værelsestype</label>

            <InputSelect @bind-Value="Model.RoomTypeId" class="form-control">
                @foreach (var type in roomTypes)
                {
                    @if (type.Id == Model.RoomTypeId)
                    {
                        <option value="@type.Id" selected>@type.Name</option>

                        continue;
                    }

                    <option value="@type.Id">@type.Name</option>
                }
            </InputSelect>

            <ValidationMessage For="@(() => Model.RoomType)" />
        </div>

        @if (!HideButton.HasValue || HideButton.Value == false)
        {
            <button type="submit" class="btn btn-success">Tilføj</button>
        }
    </EditForm>
}

@code {
    [Parameter]
    public Room Model { get; set; } = new Room();

    [Parameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }

    [Parameter]
    public bool? HideButton { get; set; }

    private ICollection<RoomType> roomTypes = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        roomTypes = await Api.GetAllRoomTypesAsync();

        StateHasChanged();
    }
}
