@rendermode InteractiveServer

@inject ApiClient Api

@if (roomTypes is not null)
{
    <EditForm Enhance class="d-flex flex-column gap-3" Model="Model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label class="form-label">Værelsesnummer</label>

            <InputText class="form-control" @bind-Value="Model.Number" placeholder="Indtast værelsesnummer" />

            <ValidationMessage For="@(() => Model.Number)" />
        </div>

        <div>
            <label class="form-label">Værelsestype</label>

            <InputSelect @bind-Value:get="_roomTypeId" @bind-Value:set="SetRoomType" class="form-control">
                @foreach (var type in roomTypes)
                {
                    @if (type.Id == _roomTypeId)
                    {
                        <option value="@type.Id" selected>@type.Name</option>

                        continue;
                    }

                    <option value="@type.Id">@type.Name</option>
                }
            </InputSelect>

            <ValidationMessage For="@(() => Model.RoomType)" />
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public RoomDto Model { get; set; } = new RoomDto();

    [Parameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }

    private int _roomTypeId;

    private ICollection<RoomTypeDto> roomTypes = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        roomTypes = await Api.GetAllRoomTypesAsync();

        OnParametersSet();

        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        _roomTypeId = Model.RoomType?.Id ?? roomTypes.FirstOrDefault()?.Id ?? 1;

        SetRoomType(_roomTypeId);
    }

    private void SetRoomType(int roomTypeId)
    {
        var roomType = roomTypes.FirstOrDefault(rt => rt.Id == roomTypeId);

        if (roomType is null)
        {
            return;
        }

        _roomTypeId = roomTypeId;

        Model.RoomType = new RoomTypeDto()
        {
            Id = roomType.Id,
            Name = roomType.Name,
            Description = roomType.Description,
            MaxOccupancy = roomType.MaxOccupancy,
        };

        StateHasChanged();
    }
}
