@page "/admin/manage-rooms"
@rendermode InteractiveServer
@inherits BasePage

@inject ApiClient Api

<PageTitle>Admin - Værelser</PageTitle>

@if (exception is not null)
{
    <div class="d-flex flex-column gap-2 mb-4">
        @foreach (var error in ApiExceptionHelper.ParseErrors(exception))
        {
            <div class="alert alert-@error.Severity p-2 m-0">@error.Message</div>
        }
    </div>
}

<div class="d-flex gap-3 justify-content-between mb-4">
    <div class="d-flex gap-3 align-items-center">
        <a href="/admin" class="btn btn-secondary">Tilbage</a>

        <h3 class="mb-0">Værelser</h3>
    </div>

    <button type="button" class="btn btn-success" @onclick="() => PrepareRoomCreationOrUpdate()" data-bs-toggle="modal" data-bs-target="#createEditModal">Tilføj</button>
</div>

@if (rooms is null)
{
    <p>Henter data...</p>
}
else if (rooms.Count == 0)
{
    <em>Ingen værelser fundet.</em>
}
else
{
    <table id="dataTable" class="table table-striped">
        <thead>
            <tr>
                <th width="100">Id</th>
                <th width="100">Nummer</th>
                <th width="100">Type</th>
                <th width="1" data-dt-order="disable"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in rooms)
            {
                <tr>
                    <td class="align-middle">@room.Id</td>
                    <td class="align-middle">@room.Number</td>
                    <td class="align-middle">@room.RoomType.Name</td>
                    <td class="align-middle">
                        <div class="d-flex gap-2 w-100 justify-content-end">
                            <button type="button" class="btn btn-secondary" @onclick="() => PrepareRoomCreationOrUpdate(room)" data-bs-toggle="modal" data-bs-target="#createEditModal">Rediger</button>

                            <button class="btn btn-danger" @onclick="() => PrepareRoomDeletion(room)" data-bs-toggle="modal" data-bs-target="#deleteModal">Slet</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal fade" id="createEditModal" tabindex="-1" aria-labelledby="createEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="fs-4 mb-0" id="createEditModalLabel">@(roomToEdit?.Id > 0 ? "Rediger" : "Tilføj") Værelse</h5>

                <button type="button" class="d-flex justify-content-center align-items-center rounded-2 text-black fs-7 min-w-2rem min-h-2rem w-2rem h-2rem border-0" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="16" height="16" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6L6 18M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="modal-body my-3 p-0">
                @if (modalException is not null)
                {
                    <div class="d-flex flex-column gap-2 mb-3">
                        @foreach (var error in ApiExceptionHelper.ParseErrors(modalException))
                        {
                            <div class="alert alert-@error.Severity p-2 m-0">@error.Message</div>
                        }
                    </div>
                }

                @if (roomToEdit is not null)
                {
                    <RoomFields Model="roomToEdit" />
                }
            </div>

            <div class="d-flex gap-3">
                <button type="button" class="btn btn-primary w-50" @onclick="CreateOrSaveRoom">Gem</button>
                <button type="button" class="btn btn-secondary w-50" data-bs-dismiss="modal">Annullér</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="fs-4 mb-0" id="deleteModalLabel">Slet Værelse</h5>

                <button type="button" class="d-flex justify-content-center align-items-center rounded-2 text-black fs-7 min-w-2rem min-h-2rem w-2rem h-2rem border-0" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="16" height="16" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6L6 18M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            @if (modalException is not null)
            {
                <div class="modal-body mt-3 p-0 d-flex flex-column gap-2 mb-3">
                    @foreach (var error in ApiExceptionHelper.ParseErrors(modalException))
                    {
                        <div class="alert alert-@error.Severity p-2 m-0">@error.Message</div>
                    }
                </div>
            }

            <div class="d-flex gap-3 mt-3">
                <button type="button" class="btn btn-danger w-50" @onclick="DeleteRoom">Slet</button>
                <button type="button" class="btn btn-secondary w-50" data-bs-dismiss="modal">Annullér</button>
            </div>
        </div>
    </div>
</div>

@code {
    private ApiException? exception;
    private ApiException? modalException;

    private RoomDto? roomToEdit;
    private int? roomToDelete;

    private ICollection<RoomTypeDto> roomTypes;
    private ICollection<RoomDto> rooms;

    protected override async Task OnInitializedAsync()
    {
        roomTypes = await Api.GetAllRoomTypesAsync();
        rooms = await Api.GetAllRoomsAsync();
    }

    public void PrepareRoomCreationOrUpdate(RoomDto? room = null)
    {
        modalException = null;

        roomToEdit = new RoomDto();

        if (room is not null)
        {
            roomToEdit.Id = room.Id;
            roomToEdit.Number = room.Number;
            roomToEdit.RoomType = room.RoomType;
            roomToEdit.Status = room.Status;
        }
    }

    public void PrepareRoomDeletion(RoomDto room)
    {
        modalException = null;

        roomToDelete = room.Id;
    }

    public async Task CreateOrSaveRoom()
    {
        modalException = null;

        if (roomToEdit is null)
        {
            return;
        }

        try
        {
            if (roomToEdit.Id == 0)
            {
                var roomId = await Api.CreateRoomAsync(new CreateRoomCommand()
                {
                    Number = roomToEdit.Number,
                    RoomTypeId = roomToEdit.RoomType?.Id ?? 0,
                    Status = roomToEdit.Status,
                });

                rooms.Add(new RoomDto()
                {
                    Id = roomId,
                    Number = roomToEdit.Number,
                    RoomType = roomToEdit.RoomType,
                    Status = roomToEdit.Status,
                });

                modalException = new ApiException(null, 200, $"Værelse #{roomToEdit.Number} er oprettet.", null, null);
            }
            else
            {
                await Api.UpdateRoomAsync(new UpdateRoomCommand()
                {
                    Number = roomToEdit.Number,
                    RoomTypeId = roomToEdit.RoomType?.Id ?? 0,
                    Status = roomToEdit.Status,
                });

                var room = rooms.FirstOrDefault(r => r.Id == roomToEdit.Id);

                if (room is not null)
                {
                    room.Number = roomToEdit.Number;
                    room.RoomType = roomToEdit.RoomType;
                    room.Status = roomToEdit.Status;
                }
            }

            await JS.InvokeVoidAsync("hideModal", "#createEditModal");

            roomToEdit = null;

            StateHasChanged();
        }
        catch (ApiException ex)
        {
            modalException = ex;
        }
    }

    public async Task DeleteRoom()
    {
        modalException = null;

        if (!roomToDelete.HasValue || !rooms.Any(r => r.Id == roomToDelete.Value))
        {
            return;
        }

        try
        {
            await Api.DeleteRoomAsync(roomToDelete.Value);

            await JS.InvokeVoidAsync("hideModal", "#deleteModal");

            rooms.Remove(rooms.First(r => r.Id == roomToDelete.Value));

            exception = new ApiException(null, 200, $"Værelse #{roomToDelete.Value} er slettet.", null, null);
        }
        catch (ApiException ex)
        {
            modalException = ex;
        }
    }
}