@page "/manage-rooms"
@rendermode InteractiveServer
@inherits BasePage

@inject ApiClient Api

@if (!string.IsNullOrWhiteSpace(response))
{
    <div class="alert alert-success">@response</div>
}

<div class="d-flex gap-3 justify-content-between mb-3">
    <h3 class="mb-0">Værelser</h3>

    <button type="button" class="btn btn-success" @onclick="() => CreateOrEditRoom()" data-bs-toggle="modal" data-bs-target="#createEditModal">Tilføj</button>
</div>

@if (rooms is null)
{
    <p>Henter data...</p>
}
else if (rooms.Count == 0)
{
    <em>Ingen værelser fundet.</em>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="100">Id</th>
                <th width="100">Nummer</th>
                <th width="100">Type</th>
                <th width="1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in rooms)
            {
                <tr>
                    <td class="align-middle">@room.Id</td>
                    <td class="align-middle">@room.Number</td>
                    <td class="align-middle">@room.RoomType.Name</td>
                    <td class="align-middle">
                        <div class="d-flex gap-2 w-100 justify-content-end">
                            <button type="button" class="btn btn-secondary" @onclick="() => CreateOrEditRoom(room)" data-bs-toggle="modal" data-bs-target="#createEditModal">Rediger</button>

                            <button class="btn btn-danger" @onclick="() => roomToDelete = room" data-bs-toggle="modal" data-bs-target="#deleteModal">Slet</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal fade" id="createEditModal" tabindex="-1" aria-labelledby="createEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="fs-4 mb-0" id="createEditModalLabel">@(roomToEdit?.Id > 0 ? "Rediger" : "Tilføj") Værelse</h5>

                <button type="button" class="d-flex justify-content-center align-items-center rounded-2 text-black fs-7 min-w-2rem min-h-2rem w-2rem h-2rem border-0" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="16" height="16" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6L6 18M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="modal-body my-3 p-0">
                @if (!string.IsNullOrWhiteSpace(modalResponse))
                {
                    <div class="alert alert-success">@modalResponse</div>
                }

                @if (roomToEdit is not null)
                {
                    <RoomForm Model="roomToEdit" HideButton="true" />
                }
            </div>

            <div class="d-flex gap-3">
                <button type="button" class="btn btn-primary w-50" data-bs-dismiss="modal" @onclick="CreateOrSaveRoom">Gem</button>
                <button type="button" class="btn btn-secondary w-50" data-bs-dismiss="modal">Annullér</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="fs-4 mb-0" id="deleteModalLabel">Slet Værelse</h5>

                <button type="button" class="d-flex justify-content-center align-items-center rounded-2 text-black fs-7 min-w-2rem min-h-2rem w-2rem h-2rem border-0" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="16" height="16" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6L6 18M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="d-flex gap-3 mt-3">
                <button type="button" class="btn btn-danger w-50" data-bs-dismiss="modal" @onclick="DeleteRoom">Slet</button>
                <button type="button" class="btn btn-secondary w-50" data-bs-dismiss="modal">Annullér</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string? response;
    private string? modalResponse;

    private RoomDto? roomToEdit;
    private RoomDto? roomToDelete;

    private ICollection<RoomTypeDto> roomTypes;
    private ICollection<RoomDto> rooms;

    protected override async Task OnInitializedAsync()
    {
        roomTypes = await Api.GetAllRoomTypesAsync();
        rooms = await Api.GetAllRoomsAsync();
    }

    public void CreateOrEditRoom(RoomDto? room = null)
    {
        modalResponse = null;

        if (room is not null)
        {
            roomToEdit = room;
        }
        else
        {
            roomToEdit = new RoomDto();
        }
    }

    public async Task CreateOrSaveRoom()
    {
        modalResponse = null;

        if (roomToEdit is null)
        {
            return;
        }

        try
        {
            if (roomToEdit.Id == 0)
            {
                await Api.CreateRoomAsync(new CreateRoomCommand()
                {
                    Number = roomToEdit.Number,
                    RoomTypeId = roomToEdit.RoomType.Id,
                    Status = roomToEdit.Status,
                });

                rooms = await Api.GetAllRoomsAsync();

                modalResponse = $"Værelse #{roomToEdit.Number} er oprettet.";
            }
            else
            {
                await Api.UpdateRoomAsync(new UpdateRoomCommand()
                {
                    Number = roomToEdit.Number,
                    RoomTypeId = roomToEdit.RoomType.Id,
                    Status = roomToEdit.Status,
                });

                var room = rooms.FirstOrDefault(r => r.Id == roomToEdit.Id);

                if (room is not null)
                {
                    room.Number = roomToEdit.Number;
                    room.RoomType = roomToEdit.RoomType;
                    room.Status = roomToEdit.Status;
                }
            }

            roomToEdit = null;

            StateHasChanged();
        }
        catch (ApiException ex)
        {
            modalResponse = ex.Response;
        }
    }

    public async Task DeleteRoom()
    {
        if (roomToDelete is null)
        {
            return;
        }

        try
        {
            await Api.DeleteRoomAsync(roomToDelete.Number);

            rooms.Remove(roomToDelete);

            response = $"Værelse #{roomToDelete.Number} er slettet.";
        }
        catch (ApiException ex)
        {
            response = ex.Response;
        }
    }
}