@page "/admin/manage-bookings"
@rendermode InteractiveServer
@inherits BasePage

@inject ApiClient Api

<PageTitle>Admin - Bookings</PageTitle>

@if (exception is not null)
{
    <div class="d-flex flex-column gap-2 mb-4">
        @foreach (var error in ApiExceptionHelper.ParseErrors(exception))
        {
            <div class="alert alert-@error.Severity p-2 m-0">@error.Message</div>
        }
    </div>
}

<div class="d-flex gap-3 align-items-center mb-4">
    <a href="/admin" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i>

        Tilbage
    </a>

    <h3 class="mb-0">Bookings</h3>
</div>

@if (bookings is null)
{
    <p>Henter data...</p>
}
else if (bookings.Count == 0)
{
    <em>Ingen værelsestyper fundet.</em>
}
else
{
    <table id="dataTable" class="table table-striped">
        <thead>
            <tr>
                <th width="100">ID</th>
                <th width="100">Gæst</th>
                <th width="100">Værelsestype</th>
                <th width="100">Fra dato</th>
                <th width="100">Til dato</th>
                <th width="100">Total pris</th>
                <th width="100">Antal voksne</th>
                <th width="100">Antal børn</th>
                <th width="100">Kæledyr</th>
                <th width="100">Tildelt værelse</th>
                <th width="1" data-dt-order="disable"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in bookings)
            {
                <tr>
                    <td class="align-middle">@booking.Id</td>
                    <td class="align-middle">@booking.Guest.FirstName @booking.Guest.LastName</td>
                    <td class="align-middle">@booking.RoomType.Name</td>
                    <td class="align-middle">@booking.FromDate.ToString("dd/MM/yyyy")</td>
                    <td class="align-middle">@booking.ToDate.ToString("dd/MM/yyyy")</td>
                    <td class="align-middle">@booking.PriceLocked.ToString("C")</td>
                    <td class="align-middle">@booking.NumberOfAdults</td>
                    <td class="align-middle">@booking.NumberOfChildren</td>
                    <td class="align-middle">@((booking.TravelingWithPets ? "Ja" : "Nej"))</td>
                    <td class="align-middle">
                        @if (booking.Room is not null)
                        {
                            <span>#@booking.Room.Number</span>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-primary" @onclick="() => AssignRoom(booking)">
                                <i class="bi bi-check-lg"></i>

                                Tildel
                            </button>
                        }
                    </td>
                    <td class="align-middle">
                        <div class="d-flex gap-2 w-100 justify-content-end">
                            <button class="btn btn-sm btn-danger" @onclick="() => PrepareBookingDeletion(booking)" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <i class="bi bi-trash-fill"></i>

                                Slet
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="fs-4 mb-0" id="deleteModalLabel">Slet Booking</h5>

                <button type="button" class="d-flex justify-content-center align-items-center rounded-2 text-black fs-7 min-w-2rem min-h-2rem w-2rem h-2rem border-0" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            @if (modalException is not null)
            {
                <div class="modal-body mt-3 p-0 d-flex flex-column gap-2 mb-3">
                    @foreach (var error in ApiExceptionHelper.ParseErrors(modalException))
                    {
                        <div class="alert alert-@error.Severity p-2 m-0">@error.Message</div>
                    }
                </div>
            }

            <div class="d-flex gap-3 mt-3">
                <button type="button" class="btn btn-danger w-50" @onclick="DeleteBooking">
                    <i class="bi bi-trash-fill"></i>

                    Slet Booking
                </button>

                <button type="button" class="btn btn-secondary w-50" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg"></i>

                    Annullér
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private ApiException? exception;
    private ApiException? modalException;

    private int? bookingToDelete;

    private ICollection<BookingDto> bookings;
    private ICollection<RoomDto> rooms;

    protected override async Task OnInitializedAsync()
    {
        bookings = await Api.GetAllBookingsAsync();
        rooms = await Api.GetAllRoomsAsync();
    }

    public async Task AssignRoom(BookingDto booking)
    {
        exception = null;

        try
        {
            var roomId = await Api.AssignRoomToBookingAsync(booking.Id);

            var room = rooms.First(r => r.Id == roomId);

            var bookingToUpdate = bookings.First(b => b.Id == booking.Id);

            bookingToUpdate.Room = new RoomWithoutBookingsDto()
            {
                Id = room.Id,
                Number = room.Number,
                RoomType = room.RoomType,
                Status = room.Status
            };

            exception = new ApiException(null, 200, $"Værelse #{room.Number} er tildelt booking #{booking.Id}.", null, null);

            StateHasChanged();
        }
        catch (ApiException ex)
        {
            exception = ex;
        }
    }

    public void PrepareBookingDeletion(BookingDto booking)
    {
        modalException = null;

        bookingToDelete = booking.Id;
    }

    public async Task DeleteBooking()
    {
        modalException = null;

        if (!bookingToDelete.HasValue || !bookings.Any(b => b.Id == bookingToDelete.Value))
        {
            return;
        }

        try
        {
            await Api.DeleteBookingAsync(bookingToDelete.Value);

            await JS.InvokeVoidAsync("hideModal", "#deleteModal");

            bookings.Remove(bookings.First(b => b.Id == bookingToDelete.Value));

            exception = new ApiException(null, 200, $"Booking #{bookingToDelete.Value} er slettet.", null, null);
        }
        catch (ApiException ex)
        {
            modalException = ex;
        }
    }
}