@page "/rooms"
@rendermode InteractiveServer

@inject ApiClient Api

@if (!string.IsNullOrWhiteSpace(response))
{
    <div class="alert alert-success">@response</div>
}

<h3>Værelser</h3>

@if (rooms is null)
{
    <p>Henter data...</p>
}
else if (rooms.Count == 0)
{
    <em>Ingen værelser fundet.</em>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nummer</th>
                <th>Kapacitet</th>
                <th>Pris pr. nat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in rooms)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Number</td>
                    <td>@r.Capacity</td>
                    <td>@r.PricePerNight</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteRoom(r)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string? response;
    private ICollection<Room> rooms;

    protected override async Task OnInitializedAsync()
    {
        rooms = await Api.GetAllRoomsAsync();
    }

    public async Task DeleteRoom(Room room)
    {
        var deleted = await Api.DeleteRoomAsync(room.Number);

        if (deleted)
        {
            response = $"Værelse #{room.Number} er slettet.";
        }
        else
        {
            response = $"Kunne ikke slette værelse #{room.Number}.";

        }

        rooms.Remove(room);
    }
}